<html>
  <p>

    You have listed: <%= @space.name %>, <%= @space.description %>, £<%= @space.price %> per night, from <%= @space.date_from %> to <%= @space.date_to %>
  <img src="http://www.igluski.com/images/_i60188495.jpg" alt="Norway" style="width:100%">mg src="/w3images/room_single.jpg" alt="Norway" style="width:35%">
  </p>
</html>
