<html>
  <head>

  </head>
  <body>
    <%= @space.name %>, <%= @space.description %>, £<%= @space.price %> per night
    <img src="https://s-media-cache-ak0.pinimg.com/736x/fe/f6/57/fef65751e6c90f933ce3992d183227b2.jpg" alt="Norway" style="width:35%">
  </body>

  <form action="/booking_acknowledged" method="post">
    <input type="hidden" value="<%= @space.id %>" name="space_id">
    <input type="hidden" value="<%= @space.name %>" name="name">
    <input type="hidden" value="<%= current_user.email %>" name="user_email">
    <input type="hidden" value="<%= @space.date_from %>" name="date_from">
    <input type="hidden" value="<%= @space.date_to %>" name="date_to">
    <input type="hidden" value="nil" name="status">
    <input type="submit" value="Book this space!">
  </form>

</html>
